<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/ajax.css" rel="stylesheet" type="text/css">
   <script type="text/javascript" src="static/ajax.js"></script>
   <title>Combos associadas</title>
</head>
<body>
   <h1>Combos que quando selecionar um livro filtra o valor associado ao livro</h1>
   <hr/>
   <div>
       <table>
           <tr>
              <td>Editoras:</td>
              <td>{{ marcas | safe }}</td>
           </tr>
           <tr>
              <td>Livros:</td>
              <td><span id="idCarros"></span></td>
           </tr>
           <tr>
              <td>Valor:</td>
              <td><span id="idVal"></span></td>
           </tr>

       </table>
       <br/>
   </div>
   <br/>
   <hr/>
   <br/>
   <a href="/"> Voltar ao Menu </a>
</body>
</html>

<script>
   function execMarcas(){
     var idIdt = document.getElementById("idtMarca").value;
     chamarURL("/car", "idCarros", "marca=" + idIdt);
   }

  function execVeics(){
     var idIdt = document.getElementById("idtVeic").value;
     chamarURL("/val", "idVal", "veic=" + idIdt);
   }

</script>