<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/ajax.css" rel="stylesheet" type="text/css">
   <script type="text/javascript" src="static/ajax.js"></script>
   <title>Consultar editoras de livros e seus livros</title>
</head>
<body>
   <h1>Consultar editoras e livros</h1>
   <hr/>
   <div>
       <table>
           <tr>
              <td>editoras:</td>
              <td>{{ marcas | safe }}</td>
           </tr>
       </table>
       <br/>
       <button onclick="exec()">Consultar livros</button>
   </div>
   <br/>
   <div id="divModelos">
       Resultado
   </div>
   <hr/>
   <br/>
   <a href="/"> Voltar ao Menu </a>
</body>
</html>

<script>
   function exec(){
     var idIdt = document.getElementById("idt").value;
     chamarURL("\modelos", "divModelos", "marca=" + idIdt);
   }
</script>

