h1{
   font-family: verdana;
   font-size: 2em;
   color: brown;
}

h2{
   font-family: verdana;
   font-size: 1.8em;
   color: red;
}

hr{
   color: blue;
   background-color: brown;
   height: 5px;
   border: none;
}

li{
   padding: 10px;
}

a{
   font-family: verdana;
   font-size: 1.2em;
}

a:link{
   text-decoration:none;
   color: brown;
}

a:hover{
   background: orange;
   font-weight: bold;
}

table{
   padding: 20px;
   font-family: verdana;
   font-size: 1.2em;
   color: brown;
   border-collapse: collapse;
}

th{
   border: 1px solid orange;
   padding: 7px;
   color:blue;
}

td{
   border: 1px solid orange;
   padding: 7px;
}

select, input[type=text]{
   font-family: verdana;
   font-size: 1.2em;
   font-weight: bold;
   color: brown;
}

input[type=number]{
   font-family: verdana;
   font-size: 1.2em;
   font-weight: bold;
   color: blue;
}

input[type=submit]{
   font-family: verdana;
   font-size: 1.2em;
   font-weight: bold;
   color: brown;
   padding: 10px;
}

button{
   font-family: verdana;
   font-size: 1em;
   font-weight: bold;
   color: red;
   padding: 7px;
}



