<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <link href="static/crud_pessoa.css" rel="stylesheet" type="text/css">
  <title>Alteração de pessoa</title>
</head>
<body>
  <h1>Resultado da alteração de pessoa - CRUD</h1>
  <hr/>
  <h2>{{ msg }}</h2>
  <hr/>
  <br/>
  <a href="/"> Voltar ao Menu </a> ||
  <a href="/paralterar"> Alterar outra pessoa </a>
</body>
</html>
