<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <link href="static/crud_pessoa.css" rel="stylesheet" type="text/css">
  <title>Resultado da Consulta de pessoa</title>
</head>
<body>
  <h1>Resultado da consulta de pessoa</h1>
  <hr/>
  <table>
      <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Idade</th>
          <th>Nacionalidade</th>
          <th>Expectativa</th>
      </tr>
      {{ nomes | safe }}
  </table>
  <br/>
  <hr/>
  <br/>
  <a href="/"> Voltar ao Menu </a> ||
  <a href="/parconsultar"> Consultar pessoa </a>
</body>
</html>
