<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/crud_pessoa.css" rel="stylesheet" type="text/css">
   <title>Exclusão de pessoa</title>
</head>
<body>
   <h1>Resultado da exclusão de pessoa - CRUD</h1>
   <hr/>
   <h2>{{ msg }}</h2>
   <hr/>
   <br/>
   <a href="/"> Voltar ao Menu </a> ||
   <a href="/parexcluir"> Excluir outra Pessoa </a>
</body>
</html>
