<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <link href="static/crud_pessoa.css" rel="stylesheet" type="text/css">
  <title>Formulário para alteração de pessoa</title>
</head>
<body>
  <h1>Formulário de alteração de pessoa</h1>
  <hr/>
  <form action="/alterar" method="post">
      <table>
          <tr>
              <td>Nome:</td>
              <td><input type="text" name="nome" size="30" maxlength="50" required value="{{ nome }}"/></td>
          </tr>
          <tr>
              <td>Sobrenome:</td>
              <td><input type="text" name="sobrenome" size="30" maxlength="30" required value="{{ sobrenome }}"/></td>
          </tr>
          <tr>
              <td>Idade:</td>
              <td><input type="number" name="idade" size="3"  required  value="{{ idade }}"/></td>
          </tr>
          <tr>
              <td>Nacionalidade:</td>
              <td><input type="text" name="nacionalidade" size="30" maxlength="50" required value="{{ nacionalidade }}"/></td>
          </tr>
          <tr>
              <td>Expectativa:</td>
              <td><input type="text" name="expectativa" size="3"  required  value="{{ expectativa }}"/></td>
          </tr>

      </table>
      <br/>
      <input type="hidden" name="idt" value="{{ idt }}"/>
      <input type="submit" value="Alterar pessoa"/>
  </form>
  <hr/>
  <br/>
  <a href="/"> Voltar ao Menu </a>
</body>
</html>
