<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/crud_pessoa.css" rel="stylesheet" type="text/css">
   <title>Inclusão de Pessoa</title>
</head>
<body>
   <h1>Resultado da inclusão de Pessoa - CRUD</h1>
   <hr/>
   <h2>{{ msg }}</h2>
   <hr/>
   <br/>
   <a href="/"> Voltar ao Menu </a> ||
   <a href="/formincluir"> Incluir nova pessoa </a>
</body>
</html>

