
<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/crud_pessoa.css" rel="stylesheet" type="text/css">
   <title>Escolher pessoa para Excluir</title>
</head>
<body>
   <h1>Escolher pessoa para excluir</h1>
   <hr/>
   <table>
       <tr>
           <th>Nome/sobrenome</th>
           <th>idade</th>
           <th>Excluir?</th>
       </tr>
       {{ pessoas | safe }}
   </table>

   <form action="/excluir" method="post" id="fm">
       <input type="hidden" name="idt" value="0" id="identificador"/>
   </form>

   <br/>
   <hr/>
   <br/>
   <a href="/"> Voltar ao Menu </a>
</body>
</html>

<script>
   // Função javascript para setar o identificador do curso para excluir após confirmação

   function jsExcluir(nome, idt){
     var conf=confirm("Deseja realmente excluir " + nome + " ?");
     if (conf){
        var f=document.getElementById("fm");
        var i=document.getElementById("identificador");
        i.value=idt;
        f.submit();
     }
   }
</script>
