html {
  scroll-behavior: smooth;
}
body {
  padding-top: 3.5rem; /* Move down content because we have a fixed navbar that is 3.5rem tall */
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: #2e2e2e;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 700;
}

a {
  transition: all 0.1s linear;
}

p {
  font-weight: 400;
  font-size: 1rem;
}

h1 {
  font-size: 2rem !important;
  font-weight: bold !important;
}

h2 {
  color: #2e2e2e;
  font-size: 2.5em;
}

.bg-light {
  background-color: white;
}
nav a {
  font-size: 0.9rem;
}

#banner {
  background: #4c4c4c url(../img/bg-porque-contratar.jpg) no-repeat 0% 100%;
  color: #ffffff;
  background-size: cover;
  border-bottom: 1px solid #919191;
  border-top: 1px solid #919191;
  min-height: 500px;
}
#banner h2 {
  color: #ffffff;
  padding: 20px;
  background: rgb(26, 26, 26);
}

.jumbotron {
  color: #fff;
  background: #28622B url(../img/bg-emplaca-mercosul.jpg) no-repeat 60% 60%;
  background-size: cover;
}

section {
  min-height: 200px;
  padding: 4.5rem 0;
}

.btn {
  border-radius: 100px;
  padding: 0.5rem 1rem;
}

.btn-cta {
  background-color: #ff893a;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-cta:hover {
  background-color: #d6712e;
}
.btn-outline-dark:hover {
  color: white !important;
}

.btn-cta {
  color: #2e2f2d;
  transition: all 0.1s linear;
}

.box {
  /* width:225px; */
  min-height: 250px;
  background-color: #99d420;
  color: #063206;
  padding: 20px;
  transition: all 0.1s linear;
}

.grow:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#certificados .nav-link {
  color: #474944;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #063006 !important;
  background-color: #bcdd74;
  font-weight: 700;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}

#lista-temas .item-tema a {
  color: #4A4A4A;
  display: block;
  padding: 12px 5px;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 30px;
  background: #e7e7e7;
  text-transform: uppercase;
  font-family: "Roboto Condensed", "Arial", "sans-serif";
  font-weight: bold;
}
#lista-temas .item-tema a:hover {
  text-decoration: none;
  color: #063006;
  background: #bcdd74;
  border-color: #bcdd74;
}

#voltar-ao-topo {
  min-height: 0;
  background-color: #4d4d4d;
  padding: 5px 0;
  margin: 0;
  text-align: right;
  font-size: 0.7rem;
}
#voltar-ao-topo a {
  color: #fff;
}
footer {
  padding: 15px 0;
  background-color: #383838;
  color: #fff;
  min-height: 10rem;
  font-size: 1rem;
  padding-top: 4rem;
}

/* LISTA CERTIFICADOS */

.certificado {
  padding: 50px 30px;
}
.certificado p {
  font-size: 0.9em;
  font-style: italic;
}

.certificado li {
  text-transform: uppercase;
  font-weight: 300;
  font-family: "roboto condensed", sans-serif;
}

.certificado h3 {
  font-size: 1.25em;
  margin-top: 0;
}

.tab-pane > .row  {
  border-bottom: 1px solid #c2c2c2;
  padding: 1rem 0;
}

.certificado li {
  border-bottom: 1px solid #cccccc;
  padding: 5px 0;
}
.certificado ul {
  padding: 0;
  list-style-type: none;
}

.price {
  font-size: 1.4em;
}
.certificado .no-pad {
  padding-left: 0;
}
.separate {
  border-right: 1px solid #b3b3b3;
}

.nav-pills {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
}

.certificado .price {
  border-bottom: none;
}

.nav > li > a {
  padding: 10px 5px;
  margin-bottom: 10px;
  font-family: "open sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.box p > span {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}
.box p {
  line-height: 1.2;
  padding-top: 20px;
}

/* MODAL */

#bloodhound {
  min-height: 200px;
}
.tt-selectable:hover {
  background-color: #e3ffcb;
}
.tt-suggestion {
  color: #4d4d4d;
  background-color: #fff;
  padding: 5px 20px 10px 20px;
}
.tt-dataset {
  border: 1px solid #dedede;
}
.twitter-typeahead {
  width: 100%;
}
#informacao {
  font-size: .9rem;
  padding-top: 20px;
}
#informacao img{float:right;}

#bloodhound,
#informacao {
  text-align: left;
}

#municipio {
  width: 100%;
  margin: auto;
  padding: 5px;
}
#documento {font-size:.9rem !important;}


@media (max-width: 768px) {
  section {
    padding: 0;
  }
  h2 {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .tab-pane > .row  {
    border-bottom:none;
    padding: 1rem 0;
  }
  #duvidas  {padding-top:3rem;}

  footer{padding-bottom:8rem;}
}
